
<nav class="navbar navbar-expand-lg shadow-sm">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/img/logo.png" alt="MMA Logo" width="50" height="50" class="me-2" />
      <span class="fw-bold fs-4 text-warning">What's in the Box</span>
    </a>

    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu"
      aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item"><a class="nav-link text-warning" href="/">Home</a></li>

  <% if (!user) { %>
    <li class="nav-item"><a class="nav-link text-warning" href="/login">Login</a></li>
    <li class="nav-item"><a class="nav-link text-warning" href="/signup">Sign Up</a></li>
  <% } else { %>
    <li class="nav-item"><a class="nav-link text-warning" href="/logout">Log out</a></li>
    <li class="nav-item"><a class="nav-link text-warning" href="/box">box</a></li>
  <% } %>
  


</ul>
        <li class="nav-item"><a class="nav-link text-warning" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-warning" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link text-warning" href="/support">Support</a></li>
        <li class="nav-item"><a class="nav-link text-warning" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link text-warning" href="/signup">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
 