
<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
<%- include('partials/header') %>

  <p>BOOOOOOOOOOOOOOOOOOOOX</p>
  <p>BOOOOOOOOOOOOOOOOOOOOX</p>
  <p>BOOOOOOOOOOOOOOOOOOOOX</p>

<%- include('partials/footer') %>
</body>

</html>