<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
<%- include('partials/header') %>

  <section class="hero-section text-center">
    <h1 class="display-2 fw-bold text-warning mb-4">Welcome to MMA Quiz Game!</h1>
    <p class="lead fs-5 text-light mb-4 px-3">
      Test your knowledge across various topics with our fun and challenging quizzes.<br>
      Compete with others, boost your skills, and climb the leaderboard to prove you're the best!
    </p>
    <button class="btn btn-mma mt-3" onclick="window.location.href='/quiz'">Start Quiz</button>
  </section>

<%- include('partials/footer') %>
  
</body>

</html>