<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
<%- include('partials/header') %>

  <section class="hero-section text-center">
    <form action="">
        <h3>Sign Up Form</h1>
        <label for="">Nickname</label>
        <input type="text" name="name" id="name" placeholder="Eneter your nickname" required>
        <label for="">E-mail</label>
        <input type="email" name="name" id="name" placeholder="Eneter your nickname" required>
        <label for="">Password</label>
        <input type="password" name="name" id="name" placeholder="Eneter your nickname" required>
        <label for="">Password again</label>
        <input type="password" name="name" id="name" placeholder="Eneter your nickname" required>

        <button class="btn btn-mma mt-3" onclick="window.location.href='/signup'">Create account</button>
    </form>
  </section>

<%- include('partials/footer') %>
  
</body>

</html>